<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ChatGPT Flask App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>


<body>
    <div class="container">
        <h1>Welcome to the ChatGPT Flask App</h1>
        <p>Select a model to start chatting:</p>
        <form action="{{ url_for('chat') }}" method="get">
            <label for="model">Choose a model:</label>
            <select name="model" id="model">
                {% for model_name in model_options %}
                {% if model_name != default_model %}
                <option value="{{ model_name }}">{{ model_name }}</option>
                {% else %}
                <option value="{{ model_name }}" selected>{{ model_name }}</option>
                {% endif %}
                {% endfor %}
            </select>
            <div>
                <input type="checkbox" id="web_search" name="web_search" value="true">
                <label for="web_search">Enable Web Search</label>
            </div>
            <button type="submit">Start Chat</button>
        </form>
    </div>
</body>

</html>