<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat with GPT Model {{model}}: WebSearch:{{web_search}}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <div class="container">
        <h1>Chat with GPT Model {{model}}: WebSearch:{{web_search}}</h1>
        <form action="{{ url_for('chat') }}" method="post">
            <label for="model">Update settings:</label>
            <select name="model" id="model">
                <option value="o1-mini" {% if model=="o1-mini" %}selected{% endif %}>o1-mini</option>
                <option value="gpt-4o" {% if model=="gpt-4o" %}selected{% endif %}>gpt-4o</option>
            </select>
            <div>
                <input type="checkbox" id="web_search" name="web_search" value="true" {% if web_search %}checked{% endif
                    %}>
                <label for="web_search">Enable Web Search</label>
            </div>
            <button type="submit" name="change_model">Update settings</button>
        </form>

        <div class="spacer" style="height: 20px;"></div>

        <div id="chat-box">
            <div id="messages">
            </div>
        </div>
        <div class="input-container">
            <textarea id="user-input" placeholder="Type your message here..."></textarea>
            <button id="send-button">Send</button>
            <button id="reset-button">Reset Chat</button>
        </div>
    </div>

    <script>
        // Pass messages from Flask to JavaScript
        window.messages = {{ messages | tojson | safe }};
    </script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>

    <script>
        // Scroll to the bottom of the messages container
        document.addEventListener('DOMContentLoaded', function () {
            const messagesContainer = document.getElementById('messages');
            const userInput = document.getElementById('user-input');
            const sendButton = document.getElementById('send-button');

            if (messagesContainer) {
                messagesContainer.scrollTop = messagesContainer.scrollHeight;
            }

            // Trigger "Send" button on pressing Enter
            userInput.addEventListener('keydown', function (event) {
                if (event.key === 'Enter' && !event.shiftKey) {
                    event.preventDefault(); // Prevent adding a new line
                    sendButton.click(); // Trigger the "Send" button
                }
            });
        });
    </script>

</body>

</html>